<div class="top-header">
	<div class='wrapper' style="width: 100%; height: 100%">
	   <div class='firstDiv'>ユーザー選択</div>
	   <div class='secondDivLeft'>
		   <img alt="" src="images/btn_back@2x.png" class="right-fnc-btn" style="width: 27px; height: 25px; padding-right: 15px" onclick="backToRoomList()">
		   <label style="font-size: 11px; display: inherit;">戻る</label>
	   </div>
	</div>
</div>
<div class="body" id="id-user-list-body" onclick="">

</div>

<script>
$( document ).ready(function() {
	$.ajax({
				method : 'GET',
				url : 'http://ec2-54-199-122-212.ap-northeast-1.compute.amazonaws.com/v1/friends',
				data: { 'expires_in' : $('#auth-expires_in').val(), 
						'access_token': $('#auth-access_token').val(), 
						'puid': $('#auth-puid').val()},
			}).done(function(data) {
				friendList = data.result; 
				var html = "<table class='friend-list-table' id='friend-list-table-id'>";
				$.each(data.result, function(i, item){
		            html += "<tr class=\"friend-list-tr\" onclick=\"selectFriend(this)\">"
		            	  + "<td class='hidden-cell'>" + item.puid + "</td>" 
			              + "<td class='friend-list-mid-td'>  " + "<img src='" + item.avatar + "' alt='" + item.username + "' style='' class='avatar-img'>" + "</td>" 
			              + "<td class='friend-list-mid-td friend-list-mid-td2'>" 
			              + "<label class='nickname-lbl'>" + item.nickname + "</label>"
			              + "<label class='role-lbl'>" + item.role + "</label>"
			              + "</td>"
			              + "<td style='width: 30px'>" 
			              + "<img src='images/icon_checkmark_green@2x.png' style='' class='check-img'>" 
			              + "</td>"
			              + "</tr>";
		            html += "<tr class='split-tr'></tr>"
		        });
				html += "</table>";
				html += "<input type='button' class='bottom-big-button' value='追加' style='' onclick='creatRoom()'></input>";
				$("#id-user-list-body").html(html);
			}).fail(function() {})
});

function selectFriend(puid){
	if(	$(puid).hasClass('selected')) {
		$(puid).removeClass('selected')
		$(puid).find('td .check-img').hide();
	}
	else {
		$(puid).addClass('selected');    
	    var value=$(puid).find('td:first').html();
	    $(puid).find('td .check-img').show();
	}
}


function creatRoom(){
	var selectedRows = $('#friend-list-table-id tbody tr.selected').parent("tr").prevObject;
	var member = "";
	for(var i = 0; i < selectedRows.length; i++) {
		var puid = $(selectedRows[i]).find("td:first").html();
		if(i < selectedRows.length - 1)
			member += puid + ",";
		else 
			member += puid;
	}
	if (member.trim() ==  "") {
		alert("Please select at least one friend!");
		return;
	}
	$.ajax({
		method : 'POST',
		url : 'http://ec2-54-199-122-212.ap-northeast-1.compute.amazonaws.com/v1/room',
		data: { 'expires_in' : $('#auth-expires_in').val(), 
				'access_token': $('#auth-access_token').val(), 
				'puid': $('#auth-puid').val(),
				'members': member },
	}).done(function(data) {
		$.get('room-list.html').success(function(data) {
            $('#content').html(data);
		}); 
		
	}).fail(function() {})
}
</script>
