<div class="top-header">
	<div class='wrapper' style="width: 100%; height: 100%">
	   <div class='firstDiv'></div>
	   <div class='secondDivLeft'>
		   <img alt="" src="images/btn_back@2x.png" class="right-fnc-btn" style="width: 27px; height: 25px; padding-right: 15px" onclick="backToRoomList()">
		   <label style="font-size: 11px; display: inherit;"> 戻る</label>
	   </div>
	</div>
</div>
<div class="body" id="id-user-list-body" style="position: relative;">
	<div class="chat" id='chat-content-id'>
	</div>
<div class='bottom-input' style="position: absolute; bottom:0px">
	<textarea id='input-text-mess' placeholder="コメントを書く"></textarea>
	<input type="button" value="送信" id="send-mes-btn" onclick="sendMes()">
</div>
</div>

<script>
$(document).ready(function() {
	$('#input-text-mess').keypress(function(e){
        if(e.keyCode==13){
        	$('#send-mes-btn').click();
        	e.preventDefault();
        }
     });
	$('#chat-content-id').on('scroll', function() {
        if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
        	loadMessList();
        }
    })
	$('.firstDiv').html("<label class='roomname-big-lbl'>"+$('#id-roomName').val() +"</label>");
	loadMessList()
});

function loadMessList(){
	$.ajax({
		method : 'GET',
		url : 'http://ec2-54-199-122-212.ap-northeast-1.compute.amazonaws.com/v1/msg/' + $('#id-roomid').val(),
		data: { 'expires_in' : $('#auth-expires_in').val(), 
			'access_token': $('#auth-access_token').val(), 
			'puid': $('#auth-puid').val(),
			'larger_than_mid': null,
			'smaller_than_mid': null},
	}).done(function(data) {
		var html = "";
		$.each(data.result.reverse(), function(i, item){
			if(item.puid == $('#auth-puid').val()) {
				html += "<div class='me-mes-container'><div class='msg-date'>" + toDisplayDateFormat(item.createdAt) + "</div><div class='bubble me'>" + item.msg + "</div></div>"
			}
			else 
				html += "<div class='you-mes-container'>" 
					    + "<img src='" + getFriendAvtSrc(item.puid) + "' style='float: left; padding: 9px;' class='avatar-img'>"
						+ "<div class='sender-lbl'>" 
						+ getFriendNickname(item.puid) + "</div>"
				        + "<div style='text-align: left'><div class='bubble you'>" + item.msg + "</div> <div class='msg-date'>" + toDisplayDateFormat(item.createdAt) + "</div></div></div>"
        });
		$("#chat-content-id").html(html);
		$('#chat-content-id').scrollTop($('#chat-content-id').prop('scrollHeight'));
	}).fail(function() { })
}

function sendMes(){
	var msg = $('#input-text-mess').val().trim();
	if(msg == "" || msg == null) {
		loadMessList();
		return false;
	}
	$.ajax({
		method : 'POST',
		url : 'http://ec2-54-199-122-212.ap-northeast-1.compute.amazonaws.com/v1/msg/' + $('#id-roomid').val(),
		data: { 'expires_in' : $('#auth-expires_in').val(), 
				'access_token': $('#auth-access_token').val(), 
				'puid': $('#auth-puid').val(),
				'msg' : msg
			  },
	}).done(function(data) {
		$('#input-text-mess').val(null);
		loadMessList();
	}).fail(function() { })
}
</script>
