<div class="top-header">
<div class='wrapper' style="width: 100%; height: 100%">
   <div class='firstDiv'>受信トレイ</div>
   <div class='secondDiv'>
   	<img alt="" src="images/icon_new_talk_white@2x.png" class="right-fnc-btn" style="width: 27px; height: 25px; padding-right: 15px" onclick="loadFriendsListPage()">
   	<label style="font-size: 11px; display: inherit;">新規 トーク</label>
   </div>
</div>

</div>
<div class="body" id="id-room-list-body">
</div>

<script>
$( document ).ready(function() {
	if(friendList == null){
		$.ajax({
			method : 'POST',
			url : 'http://ec2-54-199-122-212.ap-northeast-1.compute.amazonaws.com/v1/authorize',
			data: { 'cid' : $('#id-cid').val(), 'uid': $('#id-uid').val()},
		}).done(function(data) {
			$('#auth-expires_in').val(data.result.expires_in);
			$('#auth-access_token').val(data.result.access_token);
			$('#auth-puid').val(data.result.puid);
			$.ajax({
				method : 'GET',
				url : 'http://ec2-54-199-122-212.ap-northeast-1.compute.amazonaws.com/v1/friends',
				data: { 'expires_in' : $('#auth-expires_in').val(), 
						'access_token': $('#auth-access_token').val(), 
						'puid': $('#auth-puid').val()},
			}).done(function(data) {
					friendList = data.result; 
					listRoomAjax();
				}).fail(function() {})
		}).fail(function() {})
	}
	else {
		listRoomAjax();
	}
});

function listRoomAjax(){
	$.ajax({
		method : 'GET',
		url : 'http://ec2-54-199-122-212.ap-northeast-1.compute.amazonaws.com/v1/room',
		data: { 'expires_in' : $('#auth-expires_in').val(), 
				'access_token': $('#auth-access_token').val(), 
				'puid': $('#auth-puid').val()},
	}).done(function(data) {
		var html = "<table class='room-list-table'>";
		console.log(friendList);
		$.each(data.result, function(i, item){
			item.displayRoomName = "";
			item.htmlToShowAvt = "";
			var memCount = item.members.length;
			if (memCount > 1)
				item.htmlToShowAvt += "<div class='avatar-img'> "
			$.each(item.members, function(j, item1){
				var nickName = getFriendNickname(item1);
				var avtSrc = getFriendAvtSrc(item1);
				if(j < item.members.length-1)
					item.displayRoomName += nickName + "、";
				else
					item.displayRoomName += nickName + "";
				if(memCount == 1) {
					item.htmlToShowAvt = "<div class=''> " 
									   + "<img src='" + avtSrc + "' alt='' style='' class='avatar-img'>"
									   + "</div>"
				}
				else
					if(j < 4){
						item.htmlToShowAvt += "<div class='small-img-container" + (j+1) 
						+ "'><img src='" + avtSrc + "' class='room-avt-" + (j+1) + "'></div>";
					}
			});
			item.htmlToShowAvt += "</div>";
        });
		console.log(data.result);
		$.each(data.result, function(i, item){
	            html += "<tr class=\"room-list-tr\" onclick=\"enterRoom(this)\">" 
	            	  + "<td class='hidden-cell'>" + item.id + "</td>" 
		              + "<td class='room-list-mid-td'>  " 
					  + item.htmlToShowAvt
		              + "<td class='room-list-mid-td room-list-mid-td2'>" 
		              + "<label class='roomname-lbl'>" + item.displayRoomName + "</label></td>"
		              + "<td style='width: 30px'>" + "</td>"
		              + "</tr>";
	            html += "<tr class='split-tr'></tr>"
	    });
		html += "</table>";
		$("#id-room-list-body").html(html);
	}).fail(function() {})
}

function selectRoom(){
	console.log("selectRoom()");
}

function loadFriendsListPage(){
	$.get('friend-list.html').success(function(data) {
		$('#content').html(data);
	}); 
}

function deleteRoom(row){
	var roomId = $(row).find("td:first").html();;
	$.ajax({
		method : 'DELETE',
		url : 'http://ec2-54-199-122-212.ap-northeast-1.compute.amazonaws.com/v1/room/' + roomId ,
		data: { 'expires_in' : $('#auth-expires_in').val(), 
				'access_token': $('#auth-access_token').val(), 
				'puid': $('#auth-puid').val()},
	}).done(function(data) {
		console.log(data);
		$.get('room-list.html').success(function(data) {
            $('#content').html(data);
		}); 
	}).fail(function() {
	})
}

function enterRoom(row){
	var roomId = $(row).find("td:first").html();
	var roomName = $(row).find("td .roomname-lbl").html();
	$('#id-roomid').val(roomId);
	$('#id-roomName').val(roomName);
	$.get('message-list.html').success(function(data) {
        $('#content').html(data);
	}); 
}

</script>
