<div class="top-header">ユーザー選択</div>
<div class="body" id="id-user-list-body" onclick="">
</div>

<script>
$( document ).ready(function() {
	$.ajax({
				method : 'GET',
				url : 'http://ec2-54-199-122-212.ap-northeast-1.compute.amazonaws.com/v1/users',
			}).done(function(data) {
				//console.log(data);
				var html = "<table class='user-list-table'>";
				$.each(data.result, function(i, item){
		            html += "<tr class=\"user-list-tr\" onclick=\"selectUser(\'" + String(item.uid) +  "\')\">" 
			              + "<td class='user-list-mid-td'>  " + "<img src='" + item.avatar + "' alt='" + item.username + "' style='' class='avatar-img'>" + "</td>" 
			              + "<td class='user-list-mid-td user-list-mid-td2'>" 
			              + "<label class='nickname-lbl'>" + item.nickname + "</label>"
			              + "<label class='role-lbl'>" + item.role + "</label>"
			              + "</td>"
			              + "<td style='width: 30px'>" + "</td>"
			              + "</tr>";
		            html += "<tr class='split-tr'></tr>"
		        });
				html += "</table>";
				$("#id-user-list-body").html(html);
			}).fail(function() {})
});
function selectUser(uid){
	var cid = $('#id-cid').val();
	$.ajax({
		method : 'POST',
		url : 'http://ec2-54-199-122-212.ap-northeast-1.compute.amazonaws.com/v1/authorize',
		data: { 'cid' : cid, 'uid': uid },
	}).done(function(data) {
		$('#id-uid').val(uid);
		$.get('room-list.html').success(function(data) {
            $('#content').html(data);
		}); 
	}).fail(function() {})
}
</script>
