@media only screen and (max-device-width: 720px) { 
	.top-header {
		margin: auto;
		width: 100%;
		padding: 25px 0 10px 0;
		background-color: #625C53;
		color: white;
		text-align: center;
		top: 20px;
		height: 35px;
	}
	.body {
		margin: auto;
		width: 100%;
		height: 100%;
		min-height: 480px;
		background-color: #EDEDEC;
		text-align: center;
	}
	.user-list-table, .friend-list-table, .room-list-table {
		border: 1px;
		border-collapse: collapse;
		width: 100%
	}
	.user-list-mid-td2, .friend-list-mid-td2, .room-list-mid-td2 {
		width: 100%;
	}
	#input-login-id {
		width: 90%;
		font-size: 28px;
		padding: 8px;
		border-radius: 3px;
	}
	#button-login {
		margin-top: 10px;
		padding: 5px 8px 5px 8px;
		background-color: #7B7368;
		font-size: 25px;
	}
}

@media only screen and (min-device-width: 721px) {
	.top-header {
		margin: auto;
		width: 350px;
		padding: 25px 0 10px 0;
		background-color: #625C53;
		color: white;
		text-align: center;
		top: 20px;
		height: 35px;
	}
	.body {
		margin: auto;
		width: 350px;
		height: 100%;
		min-height: 480px;
		background-color: #EDEDEC;
		text-align: center;
	}
	.user-list-table, .friend-list-table, .room-list-table {
		border: 1px;
		border-collapse: collapse;
	}
	.user-list-mid-td2, .friend-list-mid-td2, .room-list-mid-td2 {
		width: 286px;
	}
	#input-login-id {
		width: 280px;
		font-size: 18px;
		padding: 8px;
		border-radius: 3px;
	}

	#button-login {
		margin-top: 10px;
		padding: 5px 8px 5px 8px;
		background-color: #7B7368;
	}
}


.user-list-mid-td, .friend-list-mid-td, .room-list-mid-td {
	text-align: left;
}

.body-login {
	padding: 100px 0 0 0;
}

.avatar-img {
	border-radius: 50%;
	width: 52px;
	height: 52px;
	padding: 10px;
}

.user-list-tr, .friend-list-tr, .room-list-tr {
	background-color: white;
	padding: 0 0 0 0;
	border: none;
	float: left;
	/* 	width: 100%; */
}

.user-list-tr:HOVER, .friend-list-tr:HOVER, .room-list-tr:HOVER {
	background-color: #EDEDEC;
}

.user-list-tr td, .friend-list-tr td, .room-list-tr td {
	border-left: none;
	border-right: none;
	padding: 0 5px 0 5px;
	border: none;
}

.split-tr {
	height: 2px;
}

.nickname-lbl, .roomname-lbl {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
}

.role-lbl {
	display: block;
	font-size: 12px;
	color: gray;
	padding-top: 5px;
}

.wrapper {
	position: relative;
	width: 100%;
}

.firstDiv {
	position: absolute;
	width: 100%;
}

.secondDiv {
	position: absolute;
	width: 100%;
	text-align: right;
}

.secondDivLeft {
	position: absolute;
	width: 100%;
	text-align: left;
	margin-left: 10px;
}

.bottom-big-button {
	margin: 20px;
	padding: 16px 50px 16px 50px;
	font-size: 20px;
	background-color: #FFB400;
	border-radius: 12px;
}

.check-img {
	width: 17px;
	height: 12px;
	display: none;
}

.hidden-cell {
	display: none;
}

.small-img-container1, .small-img-container2, .small-img-container3,
	.small-img-container4 {
	width: 26px;
	height: 26px;
}

.small-img-container1, .small-img-container3 {
	float: left;
}

.small-img-container2, .small-img-container4 {
	float: right;
}

.room-avt-1 {
	width: 26px;
	height: 26px;
	border-top-left-radius: 100%;
}

.room-avt-2 {
	width: 26px;
	height: 26px;
	border-top-right-radius: 100%;
}

.room-avt-3 {
	width: 26px;
	height: 26px;
	border-bottom-left-radius: 100%;
}

.room-avt-4 {
	width: 26px;
	height: 26px;
	border-bottom-right-radius: 100%;
}

.roomname-big-lbl {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}

.bottom-input {
	height: 50px;
	width: 100%;
	padding: 0;
}

#input-text-mess {
	float: left;
	width: 82%;
	height: 40px;
	resize: none;
	padding: 4px;
}

#send-mes-btn {
	width: 15%;
	height: 100%;
	background-color: #7B7368;
}

.chat {
	height: 425px;
	overflow: scroll;
}

.msg-date {
	display: inline-block;
	position: relative;
	vertical-align: top;
	min-width: 35px;
	text-align: left;
	color: gray;
	font-size: 12px;
	height: 100%;
	margin-top: 10px;
	margin-left: 6px;
}

.bubble {
	border-radius: 5px;
	box-shadow: 0 0 6px #B2B2B2;
	display: inline-block;
	padding: 10px 11px;
	position: relative;
	vertical-align: top;
	min-width: 50px;
	text-align: left;
}

.bubble::before {
	background-color: #F2F2F2;
	content: "\00a0";
	display: block;
	height: 12px;
	position: absolute;
	top: 10px;
	transform: rotate(29deg) skew(-35deg);
	-moz-transform: rotate(29deg) skew(-35deg);
	-ms-transform: rotate(29deg) skew(-35deg);
	-o-transform: rotate(29deg) skew(-35deg);
	-webkit-transform: rotate(29deg) skew(-35deg);
	width: 12px;
}

.you {
	float: left;
	margin: 5px 5px 5px 10px;
	background-color: #FFFFFF;
	max-width: 185px;
}

.you::before {
	box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
	left: -5px;
	background-color: #FFFFFF;
}

.me {
	float: right;
	margin: 5px 25px 5px 5px;
	background-color: #A6E1EA;
	max-width: 205px;
}

.me::before {
	box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, .4);
	right: -5px;
	background-color: #A6E1EA;
}

.you-mes-container {
	display: table;
	width: 100%;
	margin-top: 10px;
}

.me-mes-container {
	float: right;
	margin-top: 10px;
	width: 100%;
	text-align: right
}

.sender-lbl {
	text-align: left;
	margin-left: 80px;
	font-size: 12px;
	color: gray;
}